.containerMarginTop {
    margin-top: 34px;
}

.controlsContainer {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

.searchBoxOnPage {
    width: 100%;
    max-width: 430px;
}

.selectBoxOnPage {
    max-width: 285px;
    width: 100%;
}

@media only screen and (max-width: 750px) {
    .controlsContainer {
        flex-direction: column;
        height: 80px;
    }

    .searchBoxOnPage,
    .selectBoxOnPage {
        max-width: 100% !important; 
    }
}
