@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@import "variables";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
}

#__next {
    min-height: 100vh;
}
