:root {
    --blue: #017efe;
    --lightGray: #b4b4b4;
    --gray: #424242;
    --darkGray: #1e1e1e;

    --headerBackground: var(--blue);
    --registerButtonBackground: var(--gray);
    --footerText: #BABFC3;
}
