.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(137px, 100%), 1fr));
    grid-gap: 46px 14px;
    margin: 30px 0 54px 0;

    a {
        text-decoration: none;
    }
}

