.card {
    width: 100%;
    height: 100%;
}

.cardView {
    display: flex;
    position: relative;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: var(--darkGray);
    background-image: url("/clapperboard.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    
    h2 {
        color: white;
        text-align: center;
        width: 100%;
        z-index: 2;
        font-size: 27px;
        text-transform: uppercase;
        text-decoration: none; 

    }
}

.description {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    margin-top: 9px;
}
