.card {
    width: 100%;
    height: 100%;
}

.cardView {
    margin: 0;
    width: 100%;
    height: 200px;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    margin-top: 9px;
}
