.searchBox {
    border: none;
    position: relative;
    padding: 13px 16px 9px 16px;
    font-family: Raleway;
    line-height: 15px;
    z-index: 2;
    width: 100%;
}

.searchBoxWrapper {
    display: inline-flex;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.18);
    position: relative;
}

.button {
    padding: 8px 21px 5px 21px;
    background: var(--blue);
    border: none;
    z-index: 2;

    img {
        width: 21px;
    }
}
